#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callouts
        %h2 Organize
        %p I'm baby cronut jianbing ennui pop-up DIY listicle ramps master cleanse four dollar toast twee. 
        Cray salvia artisan affogato, thundercats vice vegan freegan waistcoat. Roof party brooklyn butcher meggings, 
        cloud bread brunch vaporware messenger bag edison bulb forage truffaut chillwave air plant skateboard chia. 

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path